.App {
	text-align: center;
	height: 100vh;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	.start-video-button {
		border: 0;
		background-color: black;
		color: white;
		cursor: pointer;
	}
}
